.Board {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: white;
    text-align: left;
    align-items: left;
}
  
.Boardheader {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
  
.startButton {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    color: black;
    border: 1px solid black;
    background-color: white;
}

.startButton:active {
    color: white;
    background-color: #282c34;
    border: 1px, solid, black;
}
  
.startButton:focus {
    color: #282c34;
    background-color: white;
    border: 1px, solid, black;
}

.startButton:hover {
    outline: #282c34 auto 5px;
    position: relative;
}

.startButton[hint]:hover:after {
    position: absolute;
    content: attr(hint);
    color: red;
    border: none;
    left: 0px;
    top: 30px;
    /* animation: showTooltip 2s 1; */
}

@keyframes showText {
    0% {clip-path: inset(0px 100% 0px 0px);}
    100% {clip-path: inset(0px 0% 0px 0px);}
}

.slideContent1 {
   margin: 1rem;
    border: 1px solid black;
}

.slideContent2 {
    border: 1px solid black;
    height: 70px;
    animation: showSlide 0.8s 1;
}

.slideContent3 {
    border: 1px solid black;
    height: 70px;
    visibility: hidden;
    animation: hideSlide 0.8s 1;
}

@keyframes showSlide {
    0% {clip-path: inset(0px 0% 100% 0px);}
    100% {clip-path: inset(0px 0% 0% 0px);}
}

@keyframes hideSlide {
    0% {clip-path: inset(0px 0% 0% 0px);
      visibility: visible}
    100% {clip-path: inset(0px 0% 100% 0px);
      visibility: hidden}
}

@keyframes showTooltip {
    0% {opacity: 0.0; border: none;}; 
    50%{opacity: 0.0; border: none;};
    51%{opacity: 0.1; border: 1px solid black;};
    100%{opacity: 1.0; border: 1px solid black;};
}
    
  
  
  